name: Terraform Apply

on:
  workflow_dispatch:
  push:
    branches: [ master ]
    paths:
      - '**.tf'
      - '**.tfvars'

permissions:
  id-token: write
  contents: read

jobs:
  terraform-apply:
    name: Terraform Apply
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: ~1.7

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/TerraformApplyAccess
        aws-region: ap-northeast-1

    - name: Terraform Init
      run: terraform init

    - name: Create initial Lambda ZIP file for Terraform
      run: |
        mkdir -p lambda
        cp lambda/src/index.js lambda/index.js
        cd lambda && zip lambda_function.zip index.js && rm index.js

    - name: Terraform Plan
      run: terraform plan -input=false

    - name: Terraform Apply
      run: terraform apply -auto-approve -input=false
